<% matches = @tournament.matches %>
<% devision_matches = @tournament.matches.where.not(stage: 'playoff') if !matches.empty? %>
<% devision_a_matches = @tournament.matches.where(stage: 'division_a').order(:created_at) if devision_matches %>
<% devision_b_matches = @tournament.matches.where(stage: 'division_b').order(:created_at) if devision_matches %>

<%= form_for @tournament do |tournament_form| %>
  <div>
    <%= tournament_form.label 'Tournament Name' %>
    <%= tournament_form.text_field :name %>
  </div>

  <br/>

  <% if !devision_matches %>
    <div>
      Teams:
    </div>
    <div>
      <% index = 1 %>
      <%= tournament_form.fields_for :teams, @tournament_teams do |team_fields| %>
        <%= index %>
        <%= render 'team_fields', f: team_fields %>
        <% index += 1 %>
        <br/>
      <% end %>
    <div>
  <% else %>
    <div>
      Division A Matches:
    </div>
    <div>
      <% index = 1 %>
      <%= tournament_form.fields_for :matches, devision_a_matches do |match_fields| %>
        <%= index %>
        <%= render 'match_fields', f: match_fields %>
        <% index += 1 %>
        <br/>
      <% end %>
    <div>
    <br/>
    <div>
      Division B Matches:
    </div>
    <div>
      <% index = 1 %>
      <%= tournament_form.fields_for :matches, devision_b_matches do |match_fields| %>
        <%= index %>
        <%= render 'match_fields', f: match_fields %>
        <% index += 1 %>
        <br/>
      <% end %>
    <div>
  <% end %>

  <br/>

  <div>
    <%= tournament_form.submit "Submit" %>
  </div>

<% end %>
