<h1><%= @tournament.name %></h1>
<%= render 'form' %>
<% if @tournament.matches.empty? %>
  <%= button_to "Create Random Teams", create_random_teams_tournament_path %>
<% else %>
  <%= button_to "Create Random Results for Division A", create_random_teams_tournament_path %>
  <%= button_to "Create Random Results for Division B", create_random_teams_tournament_path %>
<% end %>