<%= link_to "All Tournaments", tournaments_path %>
<h1><%= @tournament.name %></h1>

<% if !@tournament_teams_with_names.empty? %>
  <h2>Participating Teams:</h2>
  <% @tournament_teams_with_names.each_with_index do |team, team_i| %>
      <%= "#{team_i + 1}. #{team.name}" %>
      <br/>
  <% end %>
  <br/>
<% end %>

<% if @division_matches %>
  <h2>Division A:</h2>
  <% @division_a_matches.each_with_index do |match, match_i| %>
      <%= "Match #{match_i + 1}: #{match.team_a.name} VS #{match.team_b.name}. Result: #{humanize_match_result(match)}" %>
      <br/>
      <br/>
  <% end %>
  <br/>

  <h2>Division B:</h2>
  <% @division_b_matches.each_with_index do |match, match_i| %>
      <%= "Match #{match_i + 1}: #{match.team_a.name} VS #{match.team_b.name}. Result: #{humanize_match_result(match)}" %>
      <br/>
      <br/>
  <% end %>
  <br/>
<% end %>

<% if !@playoff_matches.empty? %>
  <h2>Division A Matches Results:</h2>
  <% @tournament.best_division_a_teams.each_with_index do |best_div_a_team, best_div_a_team_i| %>
    <%= "#{best_div_a_team_i + 1}. #{best_div_a_team[0].name}: #{best_div_a_team[1]} pts." %>
    <br/>
  <% end %>

  <h2>Division B Matches Results:</h2>
  <% @tournament.best_division_b_teams.each_with_index do |best_div_b_team, best_div_b_team_i| %>
    <%= "#{best_div_b_team_i + 1}. #{best_div_b_team[0].name}: #{best_div_b_team[1]} pts." %>
    <br/>
  <% end %>

  <h2>Playoff Matches:</h2>
  <% @max_playoff_round.times do |i| %>
    <h3><%= "Round #{i + 1}:" %></h3>
    <% round_playoffs = @playoff_matches.where(playoff_number: i + 1).order(:created_at) %>
    <% round_playoffs.each_with_index do |match, match_i| %>
      <%= "Match #{match_i + 1}: #{match.team_a.name} VS #{match.team_b.name}. Result: #{humanize_match_result(match)}" %>
      <br/>
      <br/>
    <% end %>
  <% end %>
<% end %>

<% if @tournament.stage == 'completed' %>
  <h2><%= "WINNER: #{@max_round_playoff_matches[0].match_winner.name}" %></h2>
<% end %>


<% if @matches.empty? %>
  <%= link_to @tournament_teams_with_names.empty? ? "Add Teams" : "Edit Teams List", edit_tournament_path(@tournament) %>
<% else %>
  <% if @playoff_matches.empty? %>
    <%= link_to "Add Results for Division Matches", edit_tournament_path(@tournament) %>
  <% else %>
    <% if @tournament.stage != 'completed' %>
      <%= link_to "Add Results for Playoff Matches", edit_tournament_path(@tournament) %>
    <% end %>
  <% end %>
<% end %>
<br/>
<br/>
<% if @tournament_teams_with_names.count != 16 %>
  <%= button_to "Create Random Teams", create_random_teams_tournament_path %>
<% end %>

<% if @matches.empty? %>
  <%= button_to "Create Division Matches", create_matches_tournament_path, disabled: @tournament_teams_with_names.count != 16 %>
  <% if @tournament_teams_with_names.count != 16 %>
    (You can only create division matches if you have 16 teams)
  <% end %>
<% else %>
  <% if !@division_a_matches_with_results || @division_a_matches_with_results.count != @division_a_matches.count %>
    <%= button_to "Create Random Results for Division A", create_random_division_a_results_tournament_path %>
  <% end %>
  <% if !@division_b_matches_with_results || @division_b_matches_with_results.count != @division_b_matches.count %>
    <%= button_to "Create Random Results for Division B", create_random_division_b_results_tournament_path %>
  <% end %>
  <% if @division_matches %>
    <% if !@max_round_playoff_matches || @max_round_playoff_matches.count != 1 %>
      <%= button_to "Create Playoff Matches", create_matches_tournament_path, disabled: @divison_matches_with_results.count != @division_matches.count %>
      <% if @divison_matches_with_results.count != @division_matches.count %>
        (You can only create playoff matches if all division matches have results.)
      <% end %>
    <% else %>
      <% if @tournament.stage != 'completed' %>
        <%= button_to "Finish Tournament", finish_tournament_path, disabled: @max_round_playoff_matches[0].result == 'not_played_yet' %>
        <% if @max_round_playoff_matches[0].result == 'not_played_yet' %>
          (You can only finish tournament if the last match is concluded.)
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>